@font-face {
    font-family: babapro;
    src: url('/fonts/baba-pro-webfont/babapro-webfont.woff2') format('woff2'),
         url('/fonts/baba-pro-webfont/babapro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



html {
    background-color: black;
}

body {
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    font-family: babapro;
    margin: auto;
    max-width: 1100px;
    height: 100vh;

    background: black;
    color: white;
    
    text-align: center;



}

header {
    padding-top: 15px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: black;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}


.titleWrapper {
    display: block;
    /* position: relative; */
    width: 30%;
    margin: auto;
}

img.lesserCore {
    width: 100%;
    animation: rotate 60s linear infinite; 
}

h1.pycoreTitle {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-47%, -50%);
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
}

.coreList {
    justify-content: space-around;
    display: flex;
    /* justify-content: space-evenly; */
    background-color: lightcoral;
    align-items: center;

    display: none;

}

.core {
    width: 10%;
    height: 40px;
    background-color: blue;
    border: 1px yellow solid;
    border-radius: 80%;
    align-items: center;
}


/* **************************************** */





main.main {
    position: relative;
    width: 80%;
    margin: 10px auto 20px auto;
    justify-content: center;
    background-color: black;
    text-align: left;
}



div.editorAndTerminalGrid{
    margin: 0 auto;
    width: 700px;
    min-width: 600px;
    height: 500px;
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 3fr 1fr;
    box-shadow: 
    0 0 4px rgba(202,228,225,0.98),
    0 0 10px rgba(30,132,242,0.58),
    0 0 18px rgba(30,132,242,0.84),
    0 0 30px rgba(30,132,242,0.88),
    0 0 40px rgba(30,132,242,1);
}

#editor, #terminal {

}

#terminal {
    background-color: rgb(255, 255, 255);
    
}



#submit {
    position: absolute;
    left: 46%;
    bottom: 19%;
    width: 70px;
    height: 70px;
    padding: 0px;
    padding-left: 4px;
    margin: 0 auto;
    font-family: babapro;
    border: rgb(111, 217, 255) 3px solid;
    border-radius: 50%;
    
    color: white;
    background-color: rgb(0,0,0,1);
    box-shadow: 
    0 0 4px rgba(202,228,225,0.98),
    0 0 10px rgba(30,132,242,0.58),
    0 0 18px rgba(30,132,242,0.84),
    0 0 30px rgba(30,132,242,0.88),
    0 0 40px rgba(30,132,242,1);

}


@keyframes rotate{
    to{ transform: rotate(360deg); }
  }