
html {
    background-color: black;
}

body {

    font-family: babapro;
    margin: auto;
    height: 100vh;
    background: black;
    color: white;
    text-align: center;
    scrollbar-width: thin;
}

.blue-text{
    text-shadow:
        0 0 6px rgba(202,228,225,0.98),
        0 0 12px rgba(30,132,242,0.58),
        0 0 22px rgba(30,132,242,0.84),
        0 0 38px rgba(30,132,242,0.88),
        0 0 60px rgba(30,132,242,1);
}

#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: rotate 3s linear infinite; 
    position: absolute; 
    top: 0; bottom: 0; left: 0; right: 0; 
    margin: auto; 
} 


main {
    /* display: none; */
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 60px auto 0 auto;
    min-width: 600px;
    min-height: 65vh;
	-webkit-animation: fade-in 0.23s cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s both;
	        animation: fade-in 0.23s cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s both;
    background-color: lightblue;
    box-shadow: 
        0 0 4px rgba(202,228,225,0.98),
        0 0 10px rgba(30,132,242,0.58),
        0 0 18px rgba(30,132,242,0.84),
        0 0 30px rgba(30,132,242,0.88),
        0 0 40px rgba(30,132,242,1);
}

#ace-editor {
    /* height: 300px; */
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* font-family: "Menlo"; */
    font-size: 14px;
    flex-grow: 1;
}

#output {
    resize: none;
    /* height: 300px; */
    font-size: 14px;
    /* font-family: "Menlo"; */
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
    border: solid rgb(2, 17, 99) 1px;
    background: rgb(227,248,255);
    background: 
        radial-gradient(
            circle, 
            rgba(227,248,255,1) 17%, 
            rgb(161, 163, 216) 100%
        );
    flex-grow: 1;
}

.testing {
    color: yellow;
    /* box-shadow:
    0 0 4px rgba(239, 242, 191, 0.98),
    0 0 10px rgba(243, 255, 23, 0.58),
    0 0 18px rgba(243, 255, 23, 0.58),
    0 0 30px rgba(243, 255, 23, 0.58),
    0 0 40px rgba(243, 255, 23, 0.58); */
    animation: pulse .4s infinite;
}



/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  



@keyframes rotate{
    to{ transform: rotate(360deg); }
}

@keyframes rotate-backwards{
    to{ transform: rotate(-360deg); }
}

@keyframes pulse {
    from {
        border: rgba(243, 255, 23, 0.58) 3px solid;
        /* width: 70px;
        height: 70px; */
        box-shadow:
        0 0 4px rgba(239, 242, 191, 0.98),
        0 0 10px rgba(243, 255, 23, 0.58),
        0 0 18px rgba(243, 255, 23, 0.58),
        0 0 30px rgba(243, 255, 23, 0.58),
        0 0 40px rgba(243, 255, 23, 0.58);
    }
    50% {
        border: rgba(243, 255, 23, 0.58) 3px solid;
        /* width: 72px;
        height: 72px; */
        box-shadow:
        0 0 12px rgba(239, 242, 191, 0.98),
        0 0 18px rgba(243, 255, 23, 0.58),
        0 0 27px rgba(243, 255, 23, 0.58),
        0 0 40px rgba(243, 255, 23, 0.58),
        0 0 55px rgba(243, 255, 23, 0.58);
    }
    to {
        border: rgba(243, 255, 23, 0.58) 3px solid;
        /* width: 72px;
        height: 72px; */
        box-shadow:
        0 0 4px rgba(239, 242, 191, 0.98),
        0 0 10px rgba(243, 255, 23, 0.58),
        0 0 18px rgba(243, 255, 23, 0.58),
        0 0 30px rgba(243, 255, 23, 0.58),
        0 0 40px rgba(243, 255, 23, 0.58);
    }
}

/* .submit {
    position: absolute;
    left: 45%;
    bottom: 16%;
    width: 70px;
    height: 70px;
    padding: 0px;
    padding-left: 4px;
    margin: 0 auto;
    font-family: babapro;
    transition-property: color 1.3s, box-shadow 1.3s;
    border: rgb(111, 217, 255) 3px solid;
    border-radius: 50%;
    outline-style: none;
    color: white;
    background-color: rgb(0,0,0,1);
    box-shadow: 
        0 0 4px rgba(202,228,225,0.98),
        0 0 10px rgba(30,132,242,0.58),
        0 0 18px rgba(30,132,242,0.84),
        0 0 30px rgba(30,132,242,0.88),
        0 0 40px rgba(30,132,242,1);
} */