@font-face {
    font-family: babapro;
    src: url('/fonts/baba-pro-webfont/babapro-webfont.woff2') format('woff2'),
         url('/fonts/baba-pro-webfont/babapro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'esqadero';
    src: url('/fonts/esqadero/esqadero_ff_cy_4f-regular-webfont.woff2') format('woff2'),
         url('fonts/esqadero/esqadero_ff_cy_4f-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: black;
}

body {
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    font-family: babapro;
    margin: auto;
    max-width: 1100px;
    height: 100vh;
    background: black;
    color: white;
    text-align: center;
    scrollbar-width: thin;
}

#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: rotate 3s linear infinite; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

.blueText{
    text-shadow:
        0 0 6px rgba(202,228,225,0.98),
        0 0 12px rgba(30,132,242,0.58),
        0 0 22px rgba(30,132,242,0.84),
        0 0 38px rgba(30,132,242,0.88),
        0 0 60px rgba(30,132,242,1);
}

header {
    padding-top: 15px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: black;
    position: relative;
    margin: auto;
    margin-bottom: 0px;
}

.titleWrapper {
    display: block;
    width: 30%;
    margin: auto;
}

img.lesserCore {
    width: 100%;
    animation: rotate 60s linear infinite; 
}

h1.pycoreTitle {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-47%, -50%);
    margin: 0;
    padding: 0;
    font-size: 25px;
}


main.editorAndWidgets {
    width: 85%;
    display: grid;
    grid-template-columns: .02fr 4fr;
    grid-column-gap: 10px; 
    grid-auto-rows: minmax(60vh, 60vh);
    background-color: black;
    margin: 0 auto;
}


div.hiddenMenuBar {
    display: block;
    background-color: rgb(111, 217, 255);
    box-shadow: 
    0 0 4px rgba(202,228,225,0.98),
    0 0 10px rgba(30,132,242,0.58),
    0 0 18px rgba(30,132,242,0.84),
    0 0 30px rgba(30,132,242,0.88),
    0 0 40px rgba(30,132,242,1);
    cursor: pointer;
}

div.panel {
    overflow: auto;
    display: none;
    flex-direction: column;
    background-color: black;
    border: rgb(111, 217, 255) 3px solid;
    box-shadow: 
        0 0 4px rgba(202,228,225,0.98),
        0 0 10px rgba(30,132,242,0.58),
        0 0 18px rgba(30,132,242,0.84),
        0 0 30px rgba(30,132,242,0.88),
        0 0 40px rgba(30,132,242,1);
        cursor: pointer;
}
    
.difficutlyWidget {
    flex-basis: 16%;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: lightblue 1px solid;
}

.difficultyText {
    padding-top: 5px;
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

.difficultyOptions {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.option {
    border-radius: 50%;
    flex-basis: 25%;
    background-color: black;
}

.easy {
    border: 3px solid green;
    box-shadow:
        0 0 4px rgba(199, 237, 194, 0.98),
        0 0 8px rgba(57, 255, 80, 0.58),
        0 0 16px rgba(57, 255, 80, 0.58),
        0 0 21px rgba(57, 255, 80, 0.58);
}

.medium {
    border: 3px solid yellow;
    box-shadow:
        0 0 4px rgba(255, 253, 192, 0.98),
        0 0 8px rgba(243, 255, 23, 0.58),
        0 0 16px rgba(243, 255, 23, 0.58),
        0 0 21px rgba(243, 255, 23, 0.58);
}

.hard {
    border: 3px solid red;
    box-shadow:
        0 0 4px rgba(255, 189, 189, 0.98),
        0 0 8px rgba(255, 23, 23, 0.58),
        0 0 16px rgba(255, 23, 23, 0.58),
        0 0 21px rgba(255, 23, 23, 0.58);
}

.coreSelectionHeader {
    flex-basis: 10%;
    background-color: black;
    text-align: center;  
    position: relative;
    border-bottom: darkblue 3px solid;
}

.coresContainer {
    margin: auto;
    position: absolute;
    width: 100%;
    top: 30%;
}

.scrollContainer {
    flex-basis: 80%;
    background-color: green;
    overflow: auto;
    font-size: 11px;
    font-family: 'esqadero';
}

.scrollContainer::-webkit-scrollbar {
    width: 7px;
    background-color: black;
  }
  .scrollContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px black;
    border: solid 3px transparent;
}
  .scrollContainer::-webkit-scrollbar-thumb {
    /* background-color: rgb(111, 217, 255) ;
    width: 1px; */

    box-shadow: inset 0 0 10px 10px rgb(41, 187, 236);
    border: solid 3px transparent;
    /* border-radius: 3px; */
    /* -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025); */
  }
   
.core {
    margin: 0 auto;
    color: black;
    /* font-style: italic; */
    height: 3vh;
    background-color: black;
    padding-top: 5%;
    border-bottom: black 1px solid;
    background: rgb(188,238,255);
    background: radial-gradient(circle, rgba(188,238,255,1) 43%, rgba(173,177,255,1) 100%);
    /* border-left: lightblue 1px solid;
    border-bottom: lightblue 1px solid; */
}

div.gamebarEditorTerminal{
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr .03fr 4fr .1fr 1.5fr;
    background-color: lightblue;
        box-shadow: 
        0 0 4px rgba(202,228,225,0.98),
        0 0 10px rgba(30,132,242,0.58),
        0 0 18px rgba(30,132,242,0.84),
        0 0 30px rgba(30,132,242,0.88),
        0 0 40px rgba(30,132,242,1);
        position: relative;
}

div.gameBar {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    position: relative;
}

div.flexTrio {
    background-color: lightblue;
    padding: 0;
    text-align: center;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}

#chooseCoreButton {
    flex-basis: 14%;
    min-width: 12%;
    color: white;
    background-color: rgb(0,0,0,1);
    text-align: center;
    padding-top: 19px;
    cursor: pointer;
}

.chooseCoreText {
font-size: 13px;
padding: 0;
margin: 0;
}

#coreText{
    padding-top: 5px;
}


#prompt {
    padding-left: 4px;
    padding-top: 4px;
    flex-basis: 74%;
    text-align: left;
    color: black;
    font-family: esqadero;
    background: rgb(188,238,255);
    background: radial-gradient(circle, rgba(188,238,255,1) 43%, rgba(173,177,255,1) 100%);
}

#startQuit {
    flex-basis: 12%;
    min-width: 12%;
    color: white;
    background-color: rgb(0,0,0,1);
    text-align: center;
    padding-top: 25px;
}

.divider {
    background: linear-gradient(90deg, rgba(173,216,230,1) 0%, rgb(77, 77, 255) 50%, rgba(176,216,230,1) 100%);
    border-left: black 1px solid;
    border-right: black 1px solid;
}

#editor {
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: "Monaco";
    font-size: 14px;
}

#terminal {
    font-size: 14px;
    font-family: "Monaco";
    background: rgb(227,248,255);
    background: radial-gradient(circle, rgba(227,248,255,1) 17%, rgb(161, 163, 216) 100%);
    border-top: 1px solid black;
    border: solid rgb(2, 17, 99) 1px;
}

#submit {
    position: absolute;
    left: 45%;
    bottom: 16%;
    width: 70px;
    height: 70px;
    padding: 0px;
    padding-left: 4px;
    margin: 0 auto;
    font-family: babapro;
    border: rgb(111, 217, 255) 3px solid;
    border-radius: 50%;
    
    color: white;
    background-color: rgb(0,0,0,1);
    box-shadow: 
        0 0 4px rgba(202,228,225,0.98),
        0 0 10px rgba(30,132,242,0.58),
        0 0 18px rgba(30,132,242,0.84),
        0 0 30px rgba(30,132,242,0.88),
        0 0 40px rgba(30,132,242,1);
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
  }