@font-face {
    font-family: babapro;
    src: url('/fonts/baba-pro-webfont/babapro-webfont.woff2') format('woff2'),
         url('/fonts/baba-pro-webfont/babapro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



html {
    background-color: white;
}

body {
    font-family: babapro;
    margin: auto;
    max-width: 1100px;

    background: black;
    color: white;
    
    text-align: center;



}

header {
    height: 150px;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    background-color: black;

}

.coreList {
    justify-content: space-around;
    display: flex;
    /* justify-content: space-evenly; */
    background-color: lightcoral;
    align-items: center;
}

.core {
    width: 10%;
    height: 40px;
    background-color: blue;
    border: 1px yellow solid;
    border-radius: 80%;
    align-items: center;
}


/* **************************************** */





main.main {
    position: relative;
    width: 80%;
    margin: 20px auto 20px auto;
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr; */
    justify-content: center;
    background-color: black;
    text-align: left;
}



div.editorAndTerminalGrid{
    margin: 0 auto;
    width: 700px;
    min-width: 600px;
    height: 500px;
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 3fr 1fr;
}

#editor {
    
}

#terminal {
    background-color: rgb(255, 255, 255);
}



#submit {
    position: absolute;
    left: 46%;
    bottom: 20%;
    width: 8%;
    height: 11%;
    /* padding-top: 6%; */
    background-color: rgb(181, 239, 247);
    font-family: babapro;
    border: black 3px solid;
    border-radius: 50%;
}
