



/* #loader { 
  border: 12px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 12px solid #444444; 
  width: 70px; 
  height: 70px; 
  animation: rotate 3s linear infinite; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin: auto; 
  visibility: visible;
}  */

/* .pageContent {
  visibility: hidden;
} */

.theCore {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: -3vh;

}

video {
    display: block;
    width: 60%;
    margin: auto;
    
}

h1.pycore {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-47%, -49%);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: babapro;
    font-size: 2.5vw;
    color: white;
    animation: neon .6s ease-in-out infinite alternate;
  }

  #subtitle {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-48%, -50%);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: babapro;
    font-size: .7vw;
    color: white;
    animation: neon .6s ease-in-out infinite alternate;
  }

h2.description {
    color: white;
    font-family: 'esqadero';
    font-size: 1.4vw;
    margin-top: 0;
    padding-left: .8%;
    position: relative;
    bottom: 3vh;
} 

div.threeCores {
    display: flex;
    justify-content: space-around;
    padding: 0;
    position: relative;
    bottom: 1.2vh;
}

.coreWrapper {
    display: block;
    position: relative;
    width: 12%;
}

#speedWrapper{
    position: relative;
    bottom: 17vh;
    left: 17vh;
}

#challengeWrapper {
    position: relative;
    bottom: 17vh;
    right: 17vh;
} 

img.lesserCore {
    width: 100%;
    animation: rotate 60s linear infinite; 
}

h3.listItem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
}

#challenge{
    font-size: 1.06vw;
}

#begin {
  font-size: 2.2vw;
  color: white;
  text-decoration: none;
  display: block;
  position: relative;
  left: .4vw;
  top: 5vh;
  text-shadow:
    0 0 5px rgba(101, 255, 178, 0.92),
    0 0 11px rgba(30, 242, 58, 0.52),
    0 0 19px rgba(30, 242, 58,0.92),
    0 0 31px rgba(30, 242, 58,0.78),
    0 0 46px rgba(30, 242, 58,0.92);
  cursor: pointer;
}

@keyframes neon {
    from {
      text-shadow:
        0 0 5px rgba(202,228,225,0.92),
        0 0 11px rgba(30,132,242,0.52),
        0 0 19px rgba(30,132,242,0.92),
        0 0 31px rgba(30,132,242,0.78),
        0 0 51px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
        0 0 6px rgba(202,228,225,0.98),
        0 0 12px rgba(30,132,242,0.58),
        0 0 22px rgba(30,132,242,0.84),
        0 0 38px rgba(30,132,242,0.88),
        0 0 60px rgba(30,132,242,1);
    }
  }

@keyframes rotate{
    to{ transform: rotate(360deg); }
  }