.editor-top-flexbox {
  width: 100%;
  display: flex;
  margin: 30px 0 30px 0;
  justify-content: center;
}

/**
 * THE THREE WRAPPER FLEX-ITEMS
 * ----------------------------------------
 */

.options-button-flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: flex-end;
  -webkit-animation: roll-in-blurred-left 1.2s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: roll-in-blurred-left 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.title-wrapper-flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 20px 0 20px;
  transition: all 0.7s;
  -webkit-animation: roll-in-blurred-top 1.2s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: roll-in-blurred-top 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.submit-button-flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: flex-end;
  transition: all 0.7s;
  -webkit-animation: roll-in-blurred-right 1.2s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: roll-in-blurred-right 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84),
    0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
}

/**
 * ----------------------------------------
 * ROTATING CORE CLASSES
 * ----------------------------------------
 */

.rotating-cirle {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.7s;
  background-size: cover;
  background-image: url("../media/core.png");
}

.rotating-cirle.smaller {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.7s;
}

.yellow-circle {
  transition: all 0.7s;
  background-image: url("../media/yellow-core.png");
}

/**
 * CORE ROTATION SPEEDS
 * ----------------------------------------
 */

.rotate-clockwise.slow {
  animation: rotate 45s linear infinite;
}
.rotate-clockwise.medium {
  animation: rotate 7s linear infinite;
}
.rotate-clockwise.fast {
  animation: rotate 1s linear infinite;
}

.rotate-counter-clockwise.slow {
  animation: rotate-backwards 45s linear infinite;
}

.rotate-counter-clockwise.medium {
  animation: rotate-backwards 7s linear infinite;
}
.rotate-counter-clockwise.fast {
  animation: rotate-backwards 1s linear infinite;
}

/**
 * text inside rotating cores
 * ----------------------------------------
 */

.top-flex-text {
  cursor: pointer;
  transition: all 0.2s;
  position: absolute;
}

.pycore-header {
  font-size: 28px;
  padding-left: 7px;
}

#submit-word {
  font-size: 14px;
  padding-left: 4px;
}

#options {
  font-size: 12px;
  padding-left: 5px;
}

/* mobile styling */

@media (max-width: 650px) {
  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .top-flex-text {
    /* top: 50%;
    left: 52%; */
    margin: 0;
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    /* transform: translate(-50%, -50%); */
  }

  .pycore-header {
    font-size: 25px;
  }


  .editor-top-flexbox {
    margin: 20px 0 10px 0;
  }

  .rotating-cirle {
    width: 32vw;
    height: 32vw;
  }

  .rotating-cirle.smaller {
    width: 18vw;
    height: 18vw;
  }
}


/* decreasing core text sizes */


@media (max-width: 650px) { 
  .pycore-header {
    font-size: 26px;
    padding-left: 6px;
  }
  #submit-word {
    font-size: 16px;
    padding-left: 5px;
  }
  #options {
    font-size: 13px;
    padding-left: 3px;
  }
}

@media (max-width: 610px) {
  .pycore-header {
    font-size: 24px;
  }
  #submit-word {
    padding-left: 4px;
  }
  #options {
    font-size: 12px;
    padding-left: 4px;
  }
 }

@media (max-width: 590px) {
  #submit-word {
    font-size: 15px;
  }
 }
@media (max-width: 575px) {
  #submit-word {
    font-size: 14px;
  }
  #options {
    font-size: 12px;
    padding-left: 5px;
  }
 }

 @media (max-width: 565px) {
  #options {
    font-size: 11px;
    padding-left: 5px;
  }
 }


@media (max-width: 550px) {
  .pycore-header {
    font-size: 22px;
  }
}

@media (max-width: 515px) {
  .pycore-header {
    font-size: 20px;
    padding-left: 4px;
  }
  #submit-word {
    font-size: 13px;
  }
  #options {
    font-size: 10px;
    padding-left: 3px;
  }
}

@media (max-width: 480px) {
  #submit-word {
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .pycore-header {
    font-size: 19px;
    padding-left: 5px;
  }
}

@media (max-width: 450px) {
  .pycore-header {
    font-size: 18px;
  }
  #submit-word {
    font-size: 11px;
  }
  #options {
    font-size: 9px;
    padding-left: 4px;
  }
}

@media (max-width: 437px) {
  .pycore-header {
    font-size: 17px;
    padding-left: 4px;
  }
  #options {
    font-size: 9px;
    padding-left: 3px;
  }
}

@media (max-width: 400px) {
  .pycore-header {
    font-size: 16px;
  }
  #submit-word {
    font-size: 10px;
    padding-left: 4px;
  }
  #options {
    font-size: 8px;
    padding-left: 3px;
  }
}

@media (max-width: 380px) {
  .pycore-header {
    font-size: 15px;
  }
  #submit-word {
    font-size: 9px;
    padding-left: 4px;
  }
  #options {
    font-size: 8px;
    padding-left: 3px;
  }
}

@media (max-width: 360px) {
  .pycore-header {
    font-size: 14px;
  }
  #options {
    font-size: 8px;
    padding-left: 3px;
  }
}

@media (max-width: 347px) {
  #options {
    font-size: 7px;
    padding-left: 2px;
  }
  .title-wrapper-flex-item {
    margin: 0 12px 0 12px;
  }
}

@media (max-width: 330px) {
  .pycore-header {
    font-size: 13px;
    padding-left: 3px;

  }
  #options {
    font-size: 7px;
    padding-left: 4px;
  }

  #submit-word {
    font-size: 8px;
    padding-left: 2px;
  }
}

@media (max-width: 290px) {
  .pycore-header {
    font-size: 12px;
    padding-left: 2px;
  }
  #options {
    font-size: 6px;
    padding-left: 3px;
  }

  #submit-word {
    font-size: 7px;
    padding-left: 3px;
  }
}

/**
 * animation roll-in-blurred-left
 * ----------------------------------------
 */

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes roll-in-blurred-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-720deg);
    transform: translateY(-800px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-720deg);
    transform: translateY(-800px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
