div.gameBar {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    position: relative;
}

div.flexTrio {
    background-color: lightblue;
    padding: 0;
    text-align: center;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}

#chooseCoreButton {
    flex-basis: 14%;
    min-width: 12%;
    color: white;
    background-color: rgb(0,0,0,1);
    text-align: center;
    padding-top: 19px;
    cursor: pointer;
}

.chooseCoreText {
font-size: 13px;
padding: 0;
margin: 0;
}

#coreText{
    padding-top: 5px;
}


#prompt {
    padding-left: 4px;
    padding-top: 4px;
    flex-basis: 74%;
    text-align: left;
    color: black;
    font-family: esqadero;
    background: rgb(188,238,255);
    background: radial-gradient(circle, rgba(188,238,255,1) 43%, rgba(173,177,255,1) 100%);
}

#startQuit {
    flex-basis: 12%;
    min-width: 12%;
    color: white;
    background-color: rgb(0,0,0,1);
    text-align: center;
    padding-top: 25px;
}