html {
    background-color: white;
}

body {
    margin: auto;
    max-width: 1100px;

    background: darkgray;
    color: white;
    
    text-align: center;


}

header {
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: black;
}

.coreList {
    display: flex;
    justify-content: space-evenly;
    background-color: lightcoral;
}

main {
    width: 80%;
    margin: 20px auto 20px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 20px;
    background-color: black;
    
}

.editorAndTerminal {
    background-color: green;
    height: 300px;
}