@font-face {
    font-family: babapro;
    src: url('baba-pro-webfont/babapro-webfont.woff2') format('woff2'),
         url('baba-pro-webfont/babapro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: black;
    margin: 0;

}

h1 {
    
    font-family: babapro;
    font-size: 30px;
    color: white;
}

video {
    display: block;
    margin: 15px auto 0 auto;
    width: 800px;
    
}

img {
    position: fixed;
    bottom: 0px;
    min-width: 100%;
}




